{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-warning home" href="/">На главную</a>
    <div class="counter">{{ game_of_life.counter }}</div>
    <a class="btn btn-info refresh" href="/live">Создать новую жизнь</a>

    <table class="world">

        {% for i in range(game_of_life.world|length) %}
            <tr>
                {% for j in range(game_of_life.world[i]|length) %}
                    {% if game_of_life.world[i][j] == 1 %}
                        <td class="cell living-cell"></td>
                    {% elif game_of_life.world[i][j] == 0 and game_of_life.old_world[i][j] == 1 %}
                        <td class="cell dead-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        setInterval(() => window.location.reload(), 1000);
    </script>
{% endblock %}